<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        cacheTokens="false"
        colors="true"
        verbose="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>